modal-template {
    position: relative;
    margin: auto;
}

#modal {
    z-index: 1000;
    max-width: 25rem;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

modal-template h2,
modal-template input {
    margin-bottom: 0.5rem;
}