* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-primary);
    background-image: linear-gradient(180deg, var(--dark-primary) 25%, var(--accent) 100%);
}

:root {
    --dark-primary: #512da8;
    --default-primary: #673ab7;
    --light-primary: #d1c4e9;
    --text-primary: #ffffff;
    --accent: #ffc107;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Scrollbar */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--light-primary);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--default-primary);
}

/* loading component */
.overlay {
    position: fixed;
    background-color: #21212180;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    bottom: 0px;
}

.loader {
    border: 0.3125rem solid transparent;
    border-top: 0.3125rem solid var(--default-primary);
    border-bottom: 0.3125rem solid var(--default-primary);
    border-radius: 50%;
    width: 3.75rem;
    height: 3.75rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* notification component */
.notification {
    z-index: 10;
    position: fixed;
    bottom: 0rem;
    padding: 1rem;
    margin: 0rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.fade {
    opacity: 1;
}

.info {
    background-color: var(--default-primary);
    color: var(--text-primary);
}

.error {
    background-color: #b00020;
    color: var(--text-primary);
}

.notification > .material-icons {
    margin-left: 1rem;
    cursor: unset;
}

/* inputs */
input {
    width: 100%;
    height: 2.5rem;
    text-indent: 5px;
    padding: 0.5rem;
    font-size: 1.3rem;
    border: solid 1.5px #d3d3d3;
    -webkit-transition: 1s;
    transition: 1s;
}

div[slot="content"] > input {
    margin-bottom: 0.5rem;                    
}

/* buttons */
button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: 1px solid var(--accent);
}

button:hover {
    color: #21212180 !important;
}

button:focus {
    outline: none;
}

button.social-login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

button.social-login > img,
button.social-login > span {
    width: 1.5625rem;
    height: 1.5625rem;
    margin-right: 0.5rem;
}

.btn-accent {
    background-color: var(--accent);
    color: var(--primary-text-color);
}


.btn-text {
    background-color: transparent;
}

.material-icons {
    cursor: pointer;
}

html {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    html {
        height: auto !important;
        min-height: 100%;
    }

    button.social-login {
        margin: 0.5rem 0rem;
    }

    .notification {
        width: 100%;
    }
}

@media (orientation: landscape) and (max-width: 1024px) {
    html {
        height: auto !important;
        min-height: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .notification {
        right: 1rem;
    }

    .fade {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
}
