#login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

@media only screen and (max-width: 768px) {
    #login-container {
        flex-direction: column;
        align-items: stretch;
    }
}