#login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

#login-form {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 0.5rem;
    flex-direction: column;
}

#login-form > input:first-child {
    margin-bottom: 0.5rem;
}

#login-form button {
    margin-top: 0.5rem;
}

@media only screen and (max-width: 768px) {
    #login-container {
        flex-direction: column;
        align-items: stretch;
    }
}

@media only screen and (min-width: 768px) {
    #login-form {
        margin: 0 auto;
        width: 30%;
    }
}
